// *** Variables ***
$color-primary: #38cc8b;
$color-secondary: #5e54a4;
$color-tertiary: #3d3b48;
$color-quaternary: #bab7d4;

$color-white: #ffffff;
$color-black: #000;

$color-outline: #dedede;

// *** background main && Terms / Services && error message color ***
$color-error-messages: #ff7979;
